 body {
    background-color: #f0d9e9;
} 
.content {
    background-image: url('./image/k3.png');
    margin:auto;
    padding: auto;

}

/* .logo{
    display:block;
    margin-left: auto;
    margin-right: auto;  */
    

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
    

}
.main-menu{
    display: block;
    text-align: center;
    /*margin-left: 100px;*/
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    height:25px;
    background-color: rgb(238, 169, 223);
}
.cupcakes {
    margin-top: 20px;
    width: 150px;
    height: auto;
    margin-bottom: 30px;

}
    

.main-menu a {
    padding: 20px 30px;

    /* border: 1px solid #4bac22;*/

}

.footer {
    margin-top: 450px;
    height:250px;
    /*background-color: rgb(166, 240, 194);*/
    bottom: end;
}

.footerWedding{
    margin-top: 3500px;
    height:50px;
    background-color: rgb(166, 240, 194);  

}

.footerWedding a{
    padding-left:180px;
    font-size: large;
}

.footerCupcake{
    margin-top: 4200px;
    height:50px;
    background-color: rgb(166, 240, 194);  
}
.footerCupcake a{
    padding-left:180px;
        font-size: large;
}


.cupcakes{
    display: block;
    display:-moz-grid-group;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    width: 300px;
    height: 300px;

}
.cake{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;

}

.cupcakes li img{
    display:block;
    display: inline-block;
    background-size: cover;
    border-radius: 50%;
    margin-top: 20px;
    width: 100px;
}
.wedding-cake{
    display: block;
    display:-moz-grid-group;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    width:400px;
    height:400px;}

.wedding-cake img {
    display:block;
    display:inline;
    background-size: cover;
    border-radius: 50%;
    margin-top: 20px;
    width: 400px;
    height: 400px;}

.product{
    display: block;
    text-align: center;
    margin-left: 100px;
    margin-right: auto;
    margin-bottom: 30px; 
}
.product a {
    padding: 50px 50px;
    text-decoration:dotted;
    font-style:normal;}

    .product12{
    display: block;
    display:-moz-grid-group;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    width:500px;
    height:500px;
    }

    .product12 img{
    display:block;
    display:inline;
    background-size: cover;
    /*border-radius: 50%;*/
    margin-top: 20px;
    width: 500px;
    height: 500px;

    }

    /* Style for footer */
.footer {
    margin-top: 60px;
    bottom:end; 
    height:60px;
    background-color: rgb(166, 240, 194);       
  }
  .footer a{
    padding-left:180px;
    font-size: large;
}
  

    .productFooter {
        margin-top: 4200px;
        height:50px;
        background-color: rgb(166, 240, 194); 
        bottom:end;
    }
    .productFooter a{
        padding-left:180px;
        font-size: large;  
    }
    .footerAbout {
        display:-moz-marker;
        margin-top: 400px;
        bottom:end;
        height:60px;
        background-color: rgb(166, 240, 194); 
    }
    .footerAbout a{
        padding-left:180px;
        font-size: large;
    }
       
    .footerContact{
        display:-moz-marker;
        margin-top: 230px;
        bottom:end;
        height:60px;
        background-color: rgb(166, 240, 194); 
    }
    .footerContact a{
        padding-left:180px;
        font-size: large;
    }
  
  

